<div >
    <form class="form">
        <table>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> <span class="mdl-checkbox__label">Dev</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> <span class="mdl-checkbox__label">Dev 1</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> <span class="mdl-checkbox__label">Stage</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> <span class="mdl-checkbox__label">Stage 1</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> <span class="mdl-checkbox__label">LT</span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                        <input type="checkbox" id="checkbox1" class="mdl-checkbox__input" checked> <span class="mdl-checkbox__label">Prod</span>
                    </label>
                </td>
            </tr>
        </table>
    </form>
</div>