   <div class="text-center" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);">
	<form name="registrationForm">	
		<div>
			<div class="alert alert-info">
				<strong><h2>Welcome Guest</h2></strong>
                <p>Register yourself here</p>
			</div>
		</div>
		<div class="form-group">
			<table class="table">
				<tr>
					<td>Name</td>
					<td><input type="text" placeholder="First name" class="form-control"></td>
                    <td><input type="text" placeholder="Last name" class="form-control"></td>
                </tr>
                <tr>
					<td>CEC</td>
					<td><input type="text" placeholder="Example : rvadje" class="form-control"></td>                
				</tr>
				<tr>
                    <td>Birthdate</td>
                    <td>
                        <input type="date" class="form-control">
                    </td>
                </tr>
                <tr>
					<td>Password</td>
					<td><input type="password" class="form-control"></td>
				</tr>
                <tr>
					<td>Confirm </td>
					<td><input type="password" class="form-control"></td>
				</tr>
			</table>
			<button type="button" class="btn btn-primary">Submit</button>
			<button type="reset" class="btn btn-default">Clear</button>
            <button type="reset" class="btn btn-success">Cancel</button>
		</div>
	</form>
</div>